// default params
params {
  fast5_dir="../data/chr22_meth_example/fast5_files"
  ref="../data/chr22_meth_example/humangenome.fa"
  using_fast5 = true // Set to false if using pod5 files

  // dorado_model_name = ""
  // dorado_model_download_key = "" // overides name 
  // dorado_model_file = "./dorado_model_file" // overides name + file
  // dorado_args = "--modified-bases 5mCG_5hmCG"
  
  clair3_model = 'r941_prom_sup_g5014'
  SNPEFF_ref = 'GRCh38.mane.1.2.ensembl'
  output_dir = "./output" // Directory to store output files
  
  trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

profiles {
  local {
    process.cpus = 100
    process.executor = 'local'
  }
}

process {
  errorStrategy = 'terminate'
  // errorStrategy = 'ignore'
}

docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

timeline {
  enabled = true
  file = "${params.output_dir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
  enabled = true
  file = "${params.output_dir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
  enabled = true
  file = "${params.output_dir}/pipeline_info/pipeline_trace_${params.trace_report_suffix}.txt"
}
dag {
  enabled = true
  file = "${params.output_dir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name = 'nf-nanopore'
    author = 'IsmailM'
    homePage = 'https://github.com/IsmailM/nf-nanopore'
    description = 'Variant + Mods Pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.10.0'
    version = '1.0.0'
}