params {
  fast5_dir="./data/chr22_meth_example/fast5_files"
  ref="./data/chr22_meth_example/humangenome.fa"
  using_fast5 = true

  dorado_model_download_key = "dna_r9.4.1_e8_hac@v3.3"
  dorado_args = "--modified-bases 5mCG_5hmCG"
  
  clair3_model = 'r941_prom_sup_g5014'
  SNPEFF_ref = 'GRCh38.mane.1.2.ensembl'
  
  modbamtools_gencode = './data/gencode.v38.annotation.gtf.gz'
  modbamtools_locations_bed = './data/genes.bed'
}
